* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
}

body {
	background-color: #21212f;
	color: #fff;
	line-height: 1;
	font-family: sans-serif;
}

/* wyświetlanie sekcji */

section{
	margin: 1em;
	margin: 0;
	padding: 0;
	
}

/* IS intro section */

.intro{
	height: 100vh;
	background-color: #fff;
	color: #21212f;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

}

.intro > img {
	width: 70%;
}


/* PS project section */

.projects{
	min-height: 100vh;
	background-color: #32121f;
	padding: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.small{
	gap: .5em;
	display: grid;
	grid-template-columns: 750px 350px 350px ;
	grid-template-rows: 375px 375px;
	gap: 25px;
	justify-self: center;
	align-self: center;
}

.front-img{
	border-radius: 20px;
	/* clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
}

.main-photo{
	grid-row: 1/3;
	grid-column: 1/2;
}

.href-projects {
	grid-column: 3/4;
}

.small > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.small > div > h2 {
	font-size: 5rem;
}

.href-projects > a {
	font-size: 1.25rem;	
}	

.href-projects{
	display: flex;
	justify-content: center;
	align-items: center;
}

/* PS btn animation */

.archive-btn {
	text-decoration: none;
	cursor: pointer;
	color: #fff;
	font-size: 1.125rem;
	padding: .5em;
	display: inline-block;
	margin-bottom: 2em;
	position: relative;
	z-index: 0
}

.archive-btn::after {
	content: "";
	position: absolute;
	background: grey;
	height: .85em;
	width: 75%;
	left: 0;
	top: 50%;
	z-index: -1;
	transition: transform 175ms cubic-bezier(0.9, 0, 0.55, 1.65);
	transform-origin: bottom left;
}

.archive-btn:hover::after,
.archive-btn:focus::after {
	transform: scale(1.35, 1.85);
}

/* IS info section */

.info{
	margin: 1em;
}

.cost-card{
	margin: 1em 0;
	display: flex;
	flex-wrap: wrap;
}

.costs-container{
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}